<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>



    <!-- Photo Grid -->
    <!-- Row 1 -->
    <div class="card-deck">
        <div class="col-3" *ngFor="let meeting of meetingList">
            <img class="card-img-top" src="../../assets/business-meeting-presentation.png" alt="Company logo">
            <div class="card-body">
                <h5 class="card-title">crated by {{meeting.creator == this.username ? "you" : meeting.creator}}</h5>
                <ul class="list-group">
                    <li id="id" class="list-group-item list-group-item-success"><i class="fa fa-briefcase" style="font-size:20px;"></i> Id : &nbsp;&nbsp;&nbsp;&nbsp; {{meeting}}</li>
                    <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase" style="font-size:20px;"></i> Subject : &nbsp;&nbsp;&nbsp;&nbsp; {{meeting.subject}}</li>
                    <li class="list-group-item list-group-item-success"><i class="fa fa-calendar" style="font-size:20px;"></i> Date : &nbsp;&nbsp;&nbsp;&nbsp; {{meeting.dateTime}}</li>
                    <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o" style="font-size:20px;"></i> Duration : &nbsp;&nbsp;&nbsp;&nbsp; {{meeting.duration}}</li>
                    <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker" style="font-size:20px;"></i> Location : &nbsp;&nbsp;&nbsp;&nbsp; {{meeting.location}}</li>

                </ul>

            </div>

            <div class="card-footer">
                <button type="button" class="btn" id="left-panel-link" *ngIf="meeting.creator == this.username" (click)="DeleteMeeting(meeting.id)">Delete</button>
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal1" id="right-panel-link" (click)="seeMore(meeting)">See Details</button>
            </div>
        </div>
        <div class="sep"></div>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
